name: Snapshot Deploy

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches: [ main ]

defaults:
  run:
    shell: bash

permissions:
  attestations: write
  id-token: write
  contents: read

jobs:
  deploy-snapshot:
    name: Deploy Snapshots
    uses: quarkiverse/.github/.github/workflows/perform-release.yml@main
    secrets: inherit
    with:
      ref: main-lts
      version: 3.0.0-lts-SNAPSHOT
