name: Close stale issues and PRs
on:
  schedule:
    - cron: "0 12 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10.0.0
        with:
          exempt-issue-labels: "pinned"
          stale-issue-message: "@ricardozanini @hbelmiro This is being labeled as Stale."
          stale-pr-message: "@ricardozanini @hbelmiro This is being labeled as Stale."
          close-issue-message: "@ricardozanini @hbelmiro This is being closed due to inactivity."
          close-pr-message: "@ricardozanini @hbelmiro This is being closed due to inactivity."